@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Righteous&family=Roboto&display=swap');

:root {
  --bg-color: #1C1C1C;
  --txt-color: #fff;
  --msg-received-bg: #696969;
  --msg-sended-bg: #4f4f4f;
}

html {
  font-size: 16px;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
  font-weight: 400;
}

h1 {
  font-family: 'Righteous', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
}
