main#chat {
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 3.5rem;
  grid-template-areas: 
  'header'
  'messages'
  'inputs';
}

#header {
  grid-area: header;
  box-sizing: border-box;
  padding: .3rem;
}

#header h1 {
  margin: 0;
  text-align: center;
}

#inputs {
  grid-area: inputs;
  background: #fff;
  display: flex;
  padding: .5rem;
  box-sizing: border-box;
}

#txt-message {
  flex-grow: 1;
  outline: none;
  font-size: .9rem;
  resize: none;
  border: none;
  color: #000;
  overflow-x: hidden;
  line-height: 2.5rem;
  padding: 0;
}

#txt-message::placeholder {
  color: #808080;
}

#send {
  height: 100%;
  width: fit-content;
  font-size: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#send img {
  width: 1.5rem;
  height: 1.5rem;
}

#messages {
  grid-area: messages;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 30rem;
  background: var(--msg-received-bg);
  padding: .7rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.message + .message {
  margin-top: 1.5rem;
}

.message.sended {
  background: var(--msg-sended-bg);
  align-self: flex-end;
}

.message .message-text {
  margin: 0;
  font-size: .9rem;
  text-align: justify;
  word-wrap: break-word;
}

.message .message-hour {
  align-self: flex-end;
  font-size: .8rem;
}
